<div class="rules">
	<ul class="list">
		<li class="list-item">
			1.奖金分配规则
			<p>{{award}}</p>
		</li>
		<li class="list-item">
			2.Fan值计算规则
			<p class="color-gray">计算规则根据每个位置略有不同，具体如下:</p>
			<p class="color-yellow">ADC/中单</p>
			<p>击杀+5 死亡-2 助攻+1 补刀*0.03</p>
			<p>每分钟造成伤害*0.02 每分钟承受伤害*0.01 每分钟插眼*12</p>
		</li>
		<li class="list-item">
			<p class="color-yellow">辅助</p>
			<p>击杀+5 死亡-1.5 助攻+2 补刀*0.03</p>
			<p>每分钟造成伤害*0.03 每分钟承受伤害*0.01 每分钟插眼*12</p>
		</li>
		<li class="list-item">
			<p class="color-yellow">上单</p>
			<p>击杀+3 死亡-1.8 助攻+1 补刀*0.03</p>
			<p>每分钟造成伤害*0.02 每分钟承受伤害*0.01 每分钟插眼*12</p>
		</li>
		<li class="list-item">
			<p class="color-yellow">打野</p>
			<p>击杀+5 死亡-1.8 助攻+1.5 补刀*0.03</p>
			<p>每分钟造成伤害*0.02 每分钟承受伤害*0.01 每分钟插眼*12</p>
		</li>
		<li class="list-item">
			3.玩家排名规则
			<p>阵容总计Fan值高者排名靠前</p>
			<p>如遇Fan值相同,阵容薪金使用最少的玩家排名靠前</p>
		</li>
	</ul>
</div>