<div class="topbar">
    <div class="pull-left">余额<span class="topbar-val">{{balance}}</span><span class="btg-icon-chip"></span></div>
    <div class="pull-right">
    	<a href="" class="button">
    		{{#if underway}}
	    		<span class="text">我的</span>
	    		<span class="card-icon-fight"></span>
    		{{else}}
    			<span class="text">进行中</span>
	    		<span class="card-icon-fight"></span>
	    		<span class="red-dot"></span>
    		{{/if}}
    	</a>
    </div>
</div>
	
