 <nav class="bar bar-tab" id="nav">
    <a class="tab-item  active" href="#routers-index">
        <span class="icon nav-icon-bee-reverse"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item" href="#routers-mall">
        <span class="icon nav-icon-mall-reverse"></span>
        <span class="tab-label">商城</span>
    </a>
    <a class="tab-item" href="#routers-rank">
        <span class="icon nav-icon-rank-reverse"></span>
        <span class="tab-label">排行榜</span>
    </a>
</nav>
