<div class="game">
	<div class="card">
		 <div class="card-header no-border">2017.03.17 00:00</div>
          <div class="card-content">
            <div class="card-content-inner">
            	<div class="clearfix">
            		<div class="pull-left">
            			<div class="team">
            				<div class="team-logo">
            					<img src="./logo.png" alt="LOGO" class="team-logo__img">
            				</div>
            				<div class="team-name">SKG</div>
            			</div>
            		</div>
            		<div class="pull-right">
            			<div class="team">
	        				<div class="team-logo">
	        					<img src="./logo.png" alt="LOGO" class="team-logo__img">
	        				</div>
	        				<div class="team-name">SKG</div>
            			</div>
            		</div>
            	</div>
           		<div class="vs-text">BO3</div>
            </div>
          </div>
          <div class="card-footer no-border">B03</div>
	</div>
	<div class="game-detail">
		<div class="team">
			<div class="team-logo">
				<img src="./logo.png" alt="LOGO" class="team-logo__img">
			</div>
			<div class="team-inner-wrap">
				<div class="team-name">SKG</div>
				<div class="team-data">
					<span class="btg-icon-fan"></span>排名
					<span class="team-data__span">8</span>
					<span class="btg-icon-cup"></span>最近
					<span class="team-data__span">19胜9平0负</span>
				</div>
				<div class="team-members">
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
				</div>
			</div>
		</div>
		<div class="team">
			<div class="team-logo">
				<img src="./logo.png" alt="LOGO" class="team-logo__img">
			</div>
			<div class="team-inner-wrap">
				<div class="team-name">SKG</div>
				<div class="team-data">
					<span class="btg-icon-fan"></span>排名
					<span class="team-data__span">8</span>
					<span class="btg-icon-cup"></span>最近
					<span class="team-data__span">19胜9平0负</span>
				</div>
				<div class="team-members">
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
					<div class="member">
						<div class="member-avatar">
							<img src="./avatar.png" alt="头像" class="member-avatar__img">
						</div>
						<div class="member-name">SKY</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>