<div class="goods-pic" style="background-image: url({{pic}})"></div>
<div class="good-description">
    <nav class="goods-name">{{name}}</nav>
    <nav class="repertory">
        <article>
            <span class="goods-price">{{price}}</span>
            <span class="btg-icon-bottole"></span>
        </article>
        <article>
            库存
            <span class="repertory-num">{{stocks}}</span>
        </article>
    </nav>
    <nav class="user-exchange">
        <div>兑换数量</div>
        <div class="exchange-of-num">
            <div class="minus handle">-</div>
            <div class="plus handle">+</div>
            <span class="show-digit">1</span>
        </div>
    </nav>
</div>
