<div class="card match-version2">
	<div class="card-header no-border">
		<div class="pull-left">
			<div class="match-name">LPL联赛机房-3月31日</div>
		</div>
	</div>
	<div class="card-content">
		<div class="card-content-inner">
			<div class="match-numberofpeple i-wrap">
				<div class="i">
					<div class="i-h"><span class="card-icon-user"></span>参与人数</div>
					<div class="i-f">
						<span class="i-f__value">0</span>
					</div>
				</div>
			</div>
			<div class="match-ticket i-wrap">
				<div class="i">
					<div class="i-h"><span class="card-icon-money"></span>参赛费</div>
					<div class="i-f">
						<span class="i-f__value">90</span>
						<span class="btg-icon-chip"></span>
					</div>
				</div>
			</div>
			<div class="match-award i-wrap">
				<div class="i">
					<div class="i-h"><span class="card-icon-award"></span>奖金池</div>
					<div class="i-f">
						<span class="i-f__value">60</span>
						<span class="btg-icon-chip"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="match-time">
			<span class="btg-icon-time"></span>
			<span class="match-time__span">2017/4/16   13:00</span>
		</div>
	</div>
</div>