 <nav class="bar bar-tab" id="nav">
    <a class="tab-item external active" href="#">
        <span class="icon nav-icon-bee-reverse"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon nav-icon-mall-reverse"></span>
        <span class="tab-label">商城</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon nav-icon-rank-reverse"></span>
        <span class="tab-label">排行榜</span>
    </a>
</nav>