<div class="card user">
	<div class="card-header no-border">
		<div class="pull-left">
			<div class="match-name">LPL联赛机房-3月31日<span class="refresh-tips"></span> </div>
		</div>
		<div class="pull-right"> <div class="share-tips"></div> </div>
	</div>
	<div class="card-content">
		<div class="card-content-inner">
			<div class="award">预计奖金<span class="award__span">55</span><span class="btg-icon-chip"></span></div>
			<div class="processbar">
				<div class="processbar-inner" style="width:25%">
					<div class="processbar-text">
						<div class="processbar__div">▲</div>
						<div class="processbar__value">100</div>
					</div>
				</div>
				<div class="user-avatar" style="left: 10%">
					<img src="./avatar.png" alt="" class="user-avatar__img">
					<div class="user-avatar__bg">
						<img src="./bg.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="user-rank i-wrap">
			<div class="i">
				<div class="i-h"><span class="btg-icon-flower"></span>当前排名</div>
				<div class="i-f">
					<span class="i-f__value">0</span>
				</div>
			</div>
		</div>
		<div class="user-ticket i-wrap">
			<div class="i">
				<div class="i-h"><span class="card-icon-money"></span>参赛费</div>
				<div class="i-f">
					<span class="i-f__value">90</span>
					<span class="btg-icon-chip"></span>
				</div>
			</div>
		</div>
		<div class="user-award i-wrap">
			<div class="i">
				<div class="i-h"><span class="btg-icon-fan"></span>Fan值</div>
				<div class="i-f">
					<span class="i-f__value">60</span>
				</div>
			</div>
		</div>
	</div>
</div>