<div class="panel-overlay"></div>
<div class="panel panel-left panel-cover" id="panel">
	<div class="user">
		<div class="user-avatar">
			<img src="./avatar.png" alt="" class="user-avatar__img">
		</div>
		<div class="user-nickname">
			<span class="user-nickname__span">重楼</span>
			<span class="panel-icon-setting"></span>
		</div>
		<div class="user-inner-wrap">
			<div class="user-level">LV1</div>
			<div class="user-eval">
				<div class="user-eval-processbar">
					<div class="user-eval-processbar-inner" style="width:25%">
						<span class="user-eval-processbar__span"></span>
					</div>
				</div>
			</div>
			<div class="user-wealth">
				<span class="panel-icon-bee"></span>
				<span class="user-wealth__span">23</span>
				<span class="panel-icon-chip"></span>
				<span class="user-wealth__span">32</span>
				<span class="panel-icon-bottole"></span>
				<span class="user-wealth__span">2</span>
			</div>
		</div>
	</div> 
	<div class="sign">
		<a href="javascript:;" class="button button-fill button-warning">签到</a>已连续签到<span>3</span>天
	</div> 
	<div class="links">
		<a href=""><span class="panel-icon-pay"></span>充值中心</a>
		<a href=""><span class="panel-icon-accountbook"></span>我的账本</a>
		<a href=""><span class="panel-icon-record"></span>兑换记录</a>
		<a href=""><span class="panel-icon-qa"></span>常见问题</a>
	</div>  	
</div>