<div class="player-picker">
	<div class="player-picker-div clearfix">
		<div class="pull-left">拥有薪金<span class="player-picker-div__span">90</span></div>
		<div class="pull-right">
			<a href="javascript:;" class="button"><span class="btg-icon-del"></span>清空</a>
		</div>
	</div>
	<div class="player-picker-swiper">
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        	<div class="player-card">
						<div class="player-role"><span class="role-icon-m"></span></div>
						<div class="player-role"><span class="role-icon-m"></div>
						<div class="player-name">选择队员</div>
						<div class="player-avatar">
							<img src="avatar1.png" alt="头像" class="player-avatar__img">
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="player-card">
						<div class="player-role"><span class="role-icon-f"></span></div>
						<div class="player-role"><span class="role-icon-f"></div>
						<div class="player-name">选择队员</div>
						<div class="player-avatar">
							<img src="avatar1.png" alt="头像" class="player-avatar__img">
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="player-card">
						<div class="player-role"><span class="role-icon-adc"></span></div>
						<div class="player-role"><span class="role-icon-adc"></div>
						<div class="player-name">选择队员</div>
						<div class="player-avatar">
							<img src="avatar1.png" alt="头像" class="player-avatar__img">
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="player-card">
						<div class="player-role"><span class="role-icon-t"></span></div>
						<div class="player-role"><span class="role-icon-t"></div>
						<div class="player-name">选择队员</div>
						<div class="player-avatar">
							<img src="avatar1.png" alt="头像" class="player-avatar__img">
						</div>
					</div>
		        </div>
		        <div class="swiper-slide">
		        	<div class="player-card">
						<div class="player-role"><span class="role-icon-y"></span></div>
						<div class="player-role"><span class="role-icon-y"></div>
						<div class="player-name">选择队员</div>
						<div class="player-avatar">
							<img src="avatar1.png" alt="头像" class="player-avatar__img">
						</div>
					</div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="player-picker-btns clearfix">
		<a href="javascript:;" class="pull-left button button-fill">一键阵容</a>
		<a href="javascript:;" class="pull-right button button-fill">提交阵容</a>
	</div>
</div>