<div class="lineup">
	<div class="lineup-header">
		<a class="btn-close" id="J_lineupClose" href="javascript:;"></a>
	</div>
	<div class="lineup-inner-wrap">
		@require('./item.hbs')
	</div>
	<div class="lineup-btns clearfix">
		<a href="javascript:;" class="pull-left button button-fill" id="J_lineupMore">更多阵容</a>
		<a href="javascript:;" class="pull-right button button-fill" id="J_lineupSubmit">提交阵容</a>
	</div>
</div>