<div class="sort-title">
    <div class="sort-all_goods" goods_Type="all">
        <span class="showtype">全部</span>
        <span class="arrows_all"></span>
    </div>
    <div class="sort-price" goods_Type="price">
        <span class="mid-line-left"></span>
        <span>价格</span>
        <span class="arrows"></span>
        <span class="mid-line-right"></span>
    </div>
    <div class="sort-sales" goods_Type="sales">
        <span>销量</span>
        <span class="arrows"></span>
    </div>
    <div class="secondary-menu">
        <div class="choose-list">
            <span class="all_goods" accesskey="all">全部</span>
            <span class="virtual_goods" accesskey="1">虚拟</span>
            <span class="entity_goods" accesskey="0">实物</span>
        </div>
        <div class="boult"></div>
    </div>
</div>
