<div class="mytopprice">
    <div class="remaining">
        <span>余额</span>
        <span class="mycast">0</span>
        <span class="btg-icon-bottole"></span>
    </div>
    <div class="record"></div>
</div>
